=form.text_field :title
-if @photo.image? && @photo.id.present?
	-# Get a url that blows up after so many seconds
	.form-group
		%label.control-label.col-sm-2 Image
		.div.col-sm-10
			= gallery_image_tag(@photo, :admin_full)
	- label = "Replace Image"
- else
	- label = "Image"

.form-group
	%label.control-label.col-sm-2= label
	.div.col-sm-10
		= file_field '', :image, :multiple => false

= form.text_field :url, :label => "Link To"
= form.text_area :description, :class => 'short'

= form.submit 'Save'
