=form.text_field :title
-if @photo.image? && @photo.id.present?
	-# Get a url that blows up after so many seconds
	.form-group
		%label.control-label.col-sm-2 Image
		.div.col-sm-10
			= gallery_image_tag(@photo, :admin_full)

	-# !!! JWilliams - crop does not work at the moment
	-# = link_to 'Crop Image', crop_admin_gallery_gallery_photo_path(@gallery, @photo) if @photo.force_aspect?
-else
	= form.file_field :image, :multiple => true

= form.text_field :url, :label => "Link To"
= form.text_area :description, :class => 'short'

= form.submit 'Save'
