- gallery      ||= index_branch

%li{:id => dom_id(gallery)}
  .item
    .icon
      - gallery.photos.limit(1).each do |photo|
        =gallery_image_tag(photo, :admin_thumb)
    
    .item-content
      .btn-group.btn-group-sm
        = link_to "Show Photos", admin_gallery_gallery_photos_path(gallery), :class => 'btn btn-default'
        = link_to t('.edit'), edit_admin_gallery_gallery_path(gallery), :class => 'btn btn-default'
        = link_to t('.delete'), admin_gallery_gallery_path(gallery), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-danger'
    
      .item-title
        = link_to gallery.title, admin_gallery_gallery_photos_path(gallery)
      .item-meta
        = gallery.identifier
      .item-meta
        = "#{gallery.photos.length} Photos"
