.page-header
	- if defined?(ComfortableMexicanSofa)
		= link_to t('comfy.admin.edit.revision', :count => @gallery.revisions.count), admin_gallery_gallery_revisions_path(@site, @gallery), :class => 'btn btn-default pull-right'
		
	%h2= "Editing #{@gallery.title}"

- if defined?(ComfortableMexicanSofa)
	- content_for :right_column do
		= render 'comfy/admin/cms/sites/mirrors', :object => @gallery

= comfy_gallery_form_for @gallery, :as => :gallery, :url => {:action => :update} do |form|
	= render form
